{% extends "base.html" %}

{% block cuerpo %}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3 mt-5 mb-5">

        <h1 class="text-center">Contacto</h1>
        <hr>
    
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    
    {% if form.errors %}
        <p class="error">Por favor, corrige los errores.</p>
    {% endif %}

        <div class="card">
            <div class="card-body">
                <form action="{% url 'contacto' %}" method="post">
                    <table>
                        {% csrf_token %}
                        {{ contacto_form.as_table }} 
                    </table>
                    <input type="submit" class="btn btn-primary" value="Contactar">
                </form>
            </div>
        </div>
    </div>
        
</div>
{% endblock cuerpo %}