{% extends "base.html" %}
{% load static %}

{% block cuerpo %}

<h1 class="container text-center" style="margin-top:100px">BIENVENIDOS A NUESTRA WEB</h1>

<p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, recusandae explicabo similique unde 
    eos ad cum atque incidunt perferendis facilis, fugiat laborum. Inventore in eveniet dicta, mollitia 
    molestias minus aliquam?</p>
<div class="img-fluid">
<img src="{% static 'img/main/1.jpeg' %}" class="w-100 rounded mx-auto d-block" style="max-width:40%;" alt="Imagen de la biblioteca 1">
</div>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam, dolore consequuntur provident 
    blanditiis laboriosam sint quis, debitis ducimus adipisci possimus eligendi nam a dignissimos, accusantium 
    enim quos. Doloremque, tempora.</p>
<div class="img-fluid ">
<img src="{% static 'img/main/2.jpeg' %}" class="w-100 rounded mx-auto d-block" style="max-width:50%;" alt="Imagen de la biblioteca 2">
</div>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam, dolore consequuntur provident 
    blanditiis laboriosam sint quis, debitis ducimus adipisci possimus eligendi nam a dignissimos, accusantium 
    enim quos. Doloremque, tempora.</p>
<div class="img-fluid">
<img src="{% static 'img/main/3.jpeg' %}" class="w-100 rounded mx-auto d-block" style="max-width:40%;" alt="Imagen de la biblioteca 3">
</div>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam, dolore consequuntur provident 
    blanditiis laboriosam sint quis, debitis ducimus adipisci possimus eligendi nam a dignissimos, accusantium 
    enim quos. Doloremque, tempora.</p>
<div class="img-fluid">
<img src="{% static 'img/main/4.jpeg' %}" class="w-100 rounded mx-auto d-block" style="max-width:40%;" alt="Imagen de la biblioteca 4">
</div>
<p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam, dolore consequuntur provident 
    blanditiis laboriosam sint quis, debitis ducimus adipisci possimus eligendi nam a dignissimos, accusantium 
    enim quos. Doloremque, tempora.</p>
<div class="img-fluid">
<img src="{% static 'img/main/5.jpeg' %}" class="w-100 rounded mx-auto d-block" style="max-width:40%;" alt="Imagen de la biblioteca 5">
</div>


{% endblock cuerpo %}