{% extends "base.html" %}

{% block cuerpo %}

<h1 class="container text-center" style="margin-top:100px">Seleccione el tipo de acción que desea:</h1>

    <div class="btn-group" role="group">
        <a class="btn btn-primary m-1" href="{% url 'alta_usuario' %}">Creacion de un usuario</a>
        <a class="btn btn-primary m-1" href="{% url 'autores_alta' %}">Creacion de un Autor</a>    
        <a class="btn btn-primary m-1" href="{% url 'alta_libros' %}">Creacion de un libro</a>
        <a class="btn btn-primary m-1" href="{% url 'alta_ejemplares' %}">Establecer ejemplares</a>
        <a class="btn btn-primary m-1" href="{% url 'prestamos' %}">Registrar un prestamo</a>
        <a class="btn btn-primary m-1" href="{% url 'devoluciones' %}">Registrar una devolucion</a>
        <a class="btn btn-primary m-1" href="{% url 'reservas' %}">Registrar una reserva</a>  
        <a class="btn btn-primary m-1 disabled" href="#">Consultar Catalogo o Buscar Libro</a>
    </div>  
    
    {% if autores %}
        {% for autor in autores %}
        <ul class="list-group"></ul>    
            <li class="list-group-item">{{autor.apellido}}, {{autor.nombre}}</li>
        {% endfor %}
    {% comment %}
        {% else %}
        <p>No hay autores Con Ese Apellido</p>
        {% endcomment %}
    {% endif %}

{% endblock cuerpo %}