{% extends "base.html" %}

{% block cabecera %}

<ul class="navbar navbar-dark bg-primary justify-content-end">
  <li>
    <a class="navbar-brand" href="#">GESTION DE LIBROS DE LA UBA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Buscador?????</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contacto</a>
  </li>
</ul>












{% endblock cabecera %}